
PupilInterface/PupilInterface/bin/
PupilInterface/PupilInterface/obj/

PupilInterface/.vs/ProjectEvaluation/

PupilInterface/.vs/PupilInterface/DesignTimeBuild/

*.vsidx

*.lock

PupilInterface/.vs/PupilInterface/v16/

PupilInterface/.vs/PupilInterface/v17/
